# IntelliJ project files
.idea
*.iml
out
gen

# Environments
.env
venv
.venv
pgdata_lp/
pgdata_test_lp/
pgdata_tst_lp/

# Temp folders
.pytest_cache
__pycache__
htmlcov

# Temp files
.coverage
poetry.lock